.to-do-list {
  margin: 40px auto;
  max-width: 320px;
  h2 {
    text-align: center;
  }
}
textarea {
  resize: none;
}
.tasks-list {
  width: 100%;
  border: 1px solid #ccc;
  th {
    padding: 5px;
    + th {
      border-left: 1px solid #ccc;
    }
  }
  tr {
    + tr {
      border-top: 1px solid #ccc;
    }
  }
  td {
    padding: 5px;
    + td {
      border-left: 1px solid #ccc;
    }
  }
  .remove {
    cursor: pointer;
  }
}
.add-task-form {
  margin-top: 30px;
}